<nav>
    <div class="nav-header">
    <div id="imdb"><b>IMDb</b></div>
    <div class="menu">
      <button type="button" name="button"><i class="fa-solid fa-bars"></i>   Menu</button>
    </div>

    <div class="searchbar">
      <button type="button" name="button" id="allBtn">All <i class="fa-solid fa-caret-down"></i></button>
      <input type="text" name="" value="" placeholder="Search">
      <button type="button" name="button" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    </div>
    <div>
      <ul id="nav-list">
        <li><a href="#"><i class="fa-solid fa-heart-circle-plus"></i> Watchlist</a>
        </li>
        <li><a href="#">Sign In</a>
        </li>
        <li><a href="#">EN <i class="fa-solid fa-caret-down"></i></a>
        </li>
      </ul>
    </div>
  </nav>
