<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Your random number <%= rand %></h1>
  </body>
</html>
