@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&family=Ranchers&display=swap');
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: aquamarine;
  margin: 0;
  font-size: 14px;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 3rem;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-header div {
  margin-right: 30px;
}

#imdb {
  background-color: #decb23;
  color: black;
  font-family: 'Ranchers', cursive;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.menu button {
  margin: 0;
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menu button:hover {
  background-color: #151725;
}

.searchbar {
  display: flex;
}

.searchbar input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  margin: 0;
  background-color: #fff;
}

.searchbar button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: #f7f7f7;
}

#allBtn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#searchBtn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

div #nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-list li {
  font-size: 1rem;
  list-style: none;
}

#nav-list a {
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

#nav-list a:hover {
  border-radius: 3px;
  background-color: #151725;
}
