@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,700;1,400&family=Ranchers&display=swap');

body {
  font-family: 'Archivo Narrow', sans-serif;
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  font-size: 14px;
}

nav {
  background-color: #141514;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
}

.nav-header div {
  margin-right: 30px;
}

#imdb {
  background-color: #f3ce13;
  color: black;
  font-family: 'Ranchers', cursive;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1px;
  align-self: center;
}

.menu button {
  margin: 0;
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menu button:hover {
  background-color: #252725;
}

.searchbar {
  display: flex;
}

.searchbar input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  margin: 0;
  background-color: #fff;
}

.searchbar button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: #f7f7f7;
}

#allBtn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#searchBtn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

div #nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-header li {
  font-size: 1rem;
  list-style: none;
}

.nav-header a {
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.nav-header a:hover {
  border-radius: 3px;
  background-color: #252725;
}

/* start of hidden submenu */
.submenu {
  width: 100%;
  padding: 3em 15em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid white;
  background-color: black;
  display: none;
}

.hidden {
  display: none;
}

.submenu-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  width: 70%;
}

.submenu-header #imdb {
font-size: 2.1rem;
border-radius: 5px;
}

.submenu-header button {
  background-color: transparent;
  border: none;
}

.submenu-header i {
  color: #f3ce13;
  font-size: 3rem;
}

.submenu-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 0 5em; */
  max-height: 120vh;
  color: white;
  width: 70%;
}

.submenu-body i {
  background-color: transparent;
  color: #f3ce13;
  padding-right: 10px;
}

.submenu-list h2 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.submenu-list li {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 2rem;
}

.submenu-list a {
  color: white;
  text-decoration: none;
}

.submenu-list a:hover {
  color: white;
  text-decoration: underline;
}
/* end of navbar styling */
/* start of Main Content styling */

main {
  padding: 10px 3rem;
  min-height: 100vh;
}

.featured {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.featured-img {
  min-width: 60%;
  border: 1px solid white;
  position: relative;
}

.featured-img img {
  object-fit: cover;
  width: 100%;
  height: 450px;
}

.featured-text {
  display: flex;
  align-items: flex-end;
  z-index: 1;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 0 10px;
}

.featured-text img {
  object-fit: cover;
  width: 200px;
  height: auto;
}

.featured-text button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 10px;
}

.upnext {
  border: 1px solid white;
}

.upnext h3 {
  margin-top: 0;
  color: #f3ce13;
}

.upnext-list {
  margin-top: 0;
  display: flex;
  padding: 20px 20px 0 20px;
  background-color: #141514;
  color: white;
}

.upnext-list img {
  width: 90px;
}

.upnext-sublist button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 10px;
}

.upnext-sublist {
  padding-left: 20px;
}

.upnext-sublist h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: normal;
}

.upnext-sublist p {
  margin-top: 0.3rem;
  color: grey;
  font-size: 1rem;
}

#browse-trailers {
  display: inline-block;
  pointer: cursor;
  text-decoration: none;
}

#browse-trailers h3 {
  color: white;
  padding: 15px 0 0;
}

#browse-trailers i {
  font-size: 1rem;
  padding-left: 0.5rem;
}

#browse-trailers:hover h3 {
  color: #f3ce13;
}
/* end of featured div styling */

main h2 {
  font-weight: bold;
  color: #f3ce13;
  font-size: 2rem;
}

main h3 {
  font-weight: normal;
  color: white;
  font-size: 1.5rem;
}

.explore i {
  margin-left: 10px;
  font-size: 1rem;
}

.explore i:hover {
  color: #deb523;
}

/* start of footer styling */
footer {
  background-color: #141514;
  color: white;
  padding: 0.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

div .social-media {
  display: flex;
  justify-content: center;
  color: white
}

.social-media li {
  list-style-type: none;
  padding: 0.5rem 1.5rem;
}

.social-media i {
color: white;
}

div .other-pages {
  display: flex;
  justify-content: center;
  color: white;
}

.other-pages li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.other-pages a {
  text-decoration: none;
  color: white;
}

.other-pages a:hover {
  text-decoration: underline;
}
